@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

* {
  outline: none;
}

body {
  background: #0f3057;
  font-family: lato;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-top: 190px;
}

h2 {
  color: #00587a;
  font-weight: 700;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #0f2f5718;
}

.task-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px;
  position: relative;
  max-height: 1000px;
  align-items: stretch;
  /* border: 1px solid #fff; */
}
h1 {
  height: 250px;
  position: absolute;
  top: -350px;
  bottom: 0px;
  left: 85px;
  font-size: 45px;
  font-weight: 100;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  word-spacing: 15px;
  letter-spacing: 4px;
}
.post-it {
  position: absolute;
  top: -370px;
  color: #e5e5e5;
  left: -25px;
  filter: invert();
  width: 120px;
}

.task-list {
  width: 250px;

  flex-grow: 1;

  padding: 10px;
  margin: 10px;
  background: #ebecff;
  border-radius: 5px;
  overflow-y: auto;
  height: 50vh;
}

.task-list:first-child {
  margin-left: 0 !important;
}

.task-list:last-child {
  margin-right: 0 !important;
}

.task {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;
}

.task:hover {
  background: #f5f5f5;
  cursor: move;
}

.task-name {
  color: #008891;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
  margin-right: 15px;
  /* border: 1px solid red; */
}

.task-date-and-type-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  margin: 20px 0 10px 0;
}

.task-date {
  color: #aaa;
  font-size: 12px;
  /* border: 1px solid red; */
}

.task-type {
  color: #008891;
  font-size: 14px;
  /* border: 1px solid red; */
}

.create-task {
  width: 580px;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#company-name {
  padding: 7px 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  width: 360px;
}

.select-css {
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  color: #444;
  line-height: 1.3;
  padding: 5px 20px 5px 10px;
  /* width: 100%; */
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
      for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
      
  */
  background-image: url("data:image/svg+xml;charset=US-ASCII, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 5px top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}
/* Hover style */
.select-css:hover {
  border-color: #888;
}
/* Focus style */
.select-css:focus {
  border-color: #aaa;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* Set options to normal weight */
.select-css option {
  font-weight: normal;
}

.add-task-button {
  padding: 9px 10px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  background-color: #008891;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-task-button:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.delete {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 18px;
  width: 18px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background: #00587a;
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
#company-name {
  color: black;
}
@media only screen and (max-width: 830px) {
  .task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    position: relative;
  }
  .task-list {
    margin-right: 0;
    margin-left: 0;
    height: 20vh !important;
    width: 70%;
  }
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
  }
  .task {
    margin-top: 5px;
  }
  h2 {
    padding-bottom: 5px;
    margin: 0;
    border-bottom: 3px solid #0f2f5718;
  }
  .post-it {
    color: #e5e5e5;
    filter: invert();
    width: 80px;
    position: static;
  }
  h1 {
    top: -80px;
    left: 250px;
    font-size: 35px;
    position: static;
    height: 80px;
  }
  br {
    display: none;
  }
  .space-title {
    display: none;
  }
  .tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
  }
  img {
    margin-bottom: 35px;
    margin-right: -10px;
  }
}
.scritta {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 550px) {
  .task-list {
    width: 99%;
  }
  h1 {
    margin-bottom: 30px;
  }
  .post-it {
    margin-bottom: 70px;
  }
}
.task-list:hover {
  transform: scale(1.05);
}
